@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Geologica:400,600,300,800,500,700");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/675c461e1fd5925cf2399b1a.675b60a465c781852b2d2030.FaTxWg3.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

.select {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  min-width: 63px;
}

.premium {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  min-width: 82px;
}

.what-to-expect-on-your-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  min-width: 230px;
}

.list-item-1 {
  height: 178.89px;
}

.body-5 {
  left: 27px;
  letter-spacing: 0.27px;
  line-height: 24px;
  position: absolute;
  top: 97px;
  width: 447px;
}

.body-6 {
  left: 28px;
  letter-spacing: 0.27px;
  line-height: 24px;
  position: absolute;
  top: 78px;
  width: 447px;
}

.title-1 {
  left: 28px;
  top: 34px;
  width: 365px;
}

.body-7 {
  left: 24px;
  letter-spacing: 0.27px;
  line-height: 24px;
  position: absolute;
  top: 100px;
  width: 444px;
}

.title-2 {
  left: 24px;
  top: 20px;
  width: 348px;
}

.x800k {
  height: 38px;
  letter-spacing: 0;
  line-height: 37.4px;
  margin-top: 13px;
  min-width: 137px;
  text-align: center;
  white-space: nowrap;
}

.how-can-i-book-and-r {
  height: 34px;
  letter-spacing: 0;
  line-height: 34.0px;
  min-width: 677px;
  white-space: nowrap;
}

.when-do-i-receive-my-incentive {
  height: 34px;
  letter-spacing: 0;
  line-height: 34.0px;
  min-width: 453px;
  white-space: nowrap;
}

.where-will-i-be-staying {
  height: 34px;
  letter-spacing: 0;
  line-height: 34.0px;
  min-width: 334px;
  white-space: nowrap;
}

.what-is-a-club-wyndh {
  height: 34px;
  letter-spacing: 0;
  line-height: 34.0px;
  min-width: 1034px;
  white-space: nowrap;
}

.do-i-have-to-purchas {
  height: 34px;
  letter-spacing: 0;
  line-height: 34.0px;
  min-width: 969px;
  white-space: nowrap;
}

.can-i-attend-the-pre {
  height: 34px;
  letter-spacing: 0;
  line-height: 34.0px;
  min-width: 578px;
  white-space: nowrap;
}

.how-long-do-i-have-to-use-this-package {
  height: 34px;
  letter-spacing: 0;
  line-height: 34.0px;
  min-width: 557px;
  white-space: nowrap;
}

.e-off-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 26px;
  min-height: 132px;
  width: 1012px;
}

.why-do-we-offer-club {
  height: 34px;
  letter-spacing: 0;
  line-height: 34.0px;
  min-width: 1012px;
  white-space: nowrap;
}

.flex {
  align-items: flex-start;
  display: flex;
}

.span0 {
  letter-spacing: -0.36px;
}

.body-container {
  align-items: flex-start;
  display: flex;
  gap: 6px;
  height: 75px;
  margin-top: 35px;
  min-width: 604px;
}

.x-wwwy-1 {
  height: 407px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 407px;
}

.myrtle-beach {
  height: 407px;
  left: 0;
  position: absolute;
  top: 0;
  width: 407px;
}

.new-york {
  height: 407px;
  left: 0;
  position: absolute;
  top: 0;
  width: 407px;
}

.destin-wwwy-1-1 {
  height: 407px;
  left: 0;
  position: absolute;
  top: 0;
  width: 61px;
}

.rectangle-4402-1 {
  background-color: var(--eerie-black);
  border-radius: 20px;
  height: 1536px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 1589px;
}

.book-image {
  height: 387px;
  width: 610px;
}